:root{

}

*{
    background-color: grey;
    box-sizing: border-box;
    font-family: Georgia;
    margin:10px;
    padding:10px;
}

main{
    display:flex;
}

header{
    display:block;
    text-align: center;
}

h2{
    border: 2px solid white;
    color: orange;
}

h1{
    color: orange;
    font-size: 150%;
    font-weight: bolder;

}

footer{
    color: orange;
    font-size: 80%;
}

section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-style: dotted;
    border: 2px white;
}

.linear-gradient{
    display:flex;
    display:block;
    flex-wrap: wrap;
    background-image: linear-gradient(orange,blue);
}