:root{

}

*{
    background-color: rgb(53, 53, 53);
    box-sizing: border-box;
    font-family: Georgia;
    margin:5px;
    padding:5px;
}

p {
    color: white;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    display:block;
    text-align: center;
}

h2{
    text-align: center;
    border: 2px solid white;
    color: orange;
    z-index: 1;
    position: relative;
    top:20px;
    scale: 90%;
}

h1{
    color: orange;
    font-size: 150%;
    font-weight: bolder;
}

footer{
    color: orange;
    font-size: 80%;
    text-align: center;
}

figure{
    display:flex;
    flex-direction:column;
    align-items: center;
    border: 2px white dotted;
    z-index: 0;
}

section {
    flex-wrap: wrap;
    flex: 1, 0, 180px;
    width: 32%;
}

figure article {
    color: white;
    font-size: 80%;
}

pre {
    display: flex;
    flex: 1;
    max-width: 100%;
}

.linear-gradient{
    flex-wrap: wrap;
    overflow: auto;
    background-image: linear-gradient(rgb(255, 200, 21),rgb(123, 53, 253));
}

@media screen and (max-width: 992px) {
    section{
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    section{
        width: 100%;
    }
}