:root{

}

*{
    background-color: rgb(53, 53, 53);
    box-sizing: border-box;
    font-family: Georgia;
    margin:5px;
    padding:5px;
}

p {
    color: white;
}

main{
    display:flex;
    flex:wrap;
}

header{
    display:block;
    text-align: center;
}

h2{
    text-align: center;
    border: 2px solid white;
    color: orange;
    z-index: 1;
    position: relative;
    top:20px;
    scale: 90%;
}

h1{
    color: orange;
    font-size: 150%;
    font-weight: bolder;
}

footer{
    color: orange;
    font-size: 80%;
    text-align: center;
}

figure{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 2px white dotted;
    z-index: 0;
}

.linear-gradient{
    display:flex;
    display:block;
    flex-wrap: wrap;
    background-image: linear-gradient(rgb(255, 200, 21),rgb(123, 53, 253));
}
